<div>
  <h2>Каталог</h2>
  <ng-container *ngIf="books$ | async as books">
    <div  class="my-books flex flex__center flex__row flex__gap-large">
      <app-book-card 
        *ngFor="let book of books" 
        [imgUrl]="book.img | urlFromFile" 
        [title]="book.title"
        [routerLink]="['/fragment', book.id]"
      >
      </app-book-card>

      <button appButton type="secondary" class="ml-84 button-add" (click)="showModal()">
        Добавить книгу
      </button>

    </div>
  </ng-container>

  <app-book-add #bookAdd (closeModal)="closeModal()" (chooseBook)="addBook($event)"></app-book-add>
</div>