@mixin gap-sizes {
  &__gap-small {
    gap: 8px;
  }

  &__gap-medium {
    gap: 16px;
  }

  &__gap-large {
    gap: 32px;
  }
}

.flex {
  display: flex;

  &__center {
    align-items: center;
  }

  &__row {
    flex-direction: row;
  }

  &__column {
    flex-direction: column;
  }

  &__space-between {
    justify-content: space-between;
  }

  @include gap-sizes;
}

.stack {
  display: flex;
  flex-direction: column;

  &__horizontal {
    flex-direction: row;
  }

  &__center {
    align-items: center;
  }

  &__space-between {
    justify-content: space-between;
  }

  @include gap-sizes;
}

.scroll {
  overflow: scroll;
  &__bar {
    &_hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

input {
  padding: 8px;
  border-radius: 6px;
  background-color: var(--color-background);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}


.dialog {
  padding: 40px;
  border: none;
  background-color: var(--color-background);
  color: var(--color-text);
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 2%;
  margin: 12px 0;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-84 {
  margin-left: 84px
}
